#!/bin/bash
alias gpl="git pull"
alias gc="git commit"
alias gck="git checkout"
alias gckm="git checkout master | git checkout main"
alias gph="git push"
alias gphh="git push origin HEAD"
alias gs="git status"
alias gl="git log"
alias ga="git add --all"
alias glo="git log --pretty=oneline --abbrev-commit"
alias hpr="hub pull-request"
alias fucking="sudo"
alias api="cd ~/Projects/mediavine/api"
alias ad="cd ~/Projects/mediavine/automated-direct"
alias wrapper="cd ~/Projects/mediavine/web-wrapper"
alias grow="cd ~/Projects/mediavine/grow-me"
alias wlauncher="cd ~/Projects/mediavine/web-launcher-service"
alias vlauncher="cd ~/Projects/mediavine/video-launcher-service"
alias video="cd ~/Projects/mediavine/video-player"
alias s2s="cd ~/Projects/mediavine/s2s"
alias pver="git describe --tags --abbrev=0"
alias cd..='cd ../'                         # Go back 1 directory level (for fast typers)
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels
alias y='yarn'
alias yt='yarn test'
alias caly="~/Projects/calendar/calendar.txt"

alias up='~/.update.sh'
alias tag='~/.tagnpush.sh'
alias gf='~/.fetchncheckout.sh'
alias gcki='~/dotfiles/.ticketChange.sh'
alias gckz='~/dotfiles/.ticketChange.sh'



